body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
}

.main-content {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form-container {
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#search-form {
    width: 250px;
    height: 40px;
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: lightgray;
    border-radius: 1rem;
}

#submit {
    background: none;
    border: none;
    margin-left: 1rem;
}

.error-message {
    margin-left: auto;
    margin-right: 1rem;
    font-size: 0.75rem;
    margin-top: 0.75rem;
    color: red;
    display: none;
}

#location {
    margin-left: 1rem;
    background: none;
    border: none;
    width: 75%;
    font-size: 1rem;
}

#location::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

#location:focus {
    outline: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-img {
    height: 7.5rem;
    width: 7.5rem;
}

.display {
    width: 50rem;
    height: 25rem;
    border-radius: 1rem;
    opacity: 0.85;
    border: 1px solid black;
    background: #1D71F2;
}

.main-info {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info > * {
    width: 50%;
    height: 100%;
}

.temp-and-city, .main-and-desc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.temp, .main-desc {
    font-size: 3.5rem;
}

.city, .additional-desc {
    font-size: 1.5rem;
}

.additional-info {
    height: 35%;
    display: flex;
}

.additional-info > * {
    width: 20%;
}

.supplementary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.supp-title {
    font-size: 1.4rem;
    color: #FFCD00;
}

.supp-info {
    font-size: 1.15rem;
}

/* footer styling */
footer, footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    height: 5%;
    background: #1D71F2;
}

footer img {
    height: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
    transition: transform 0.7s ease-in-out;
}

footer img:hover {
    transform: rotate(360deg) scale(1.5);
}